

<div class="footer-section">
  <footer class="footer">
    <div class="footer-first-section">
      <div class="footer-logo">
        <p>BL TUFF</p>
      </div>
      <p class="footer-bio">Crafting clarity that lasts a lifetime.</p>
      <div class="footer-social-icon">
        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
    <div class="footer-second-section">
      <div class="footer-menulinks">
        <p>Company</p>
        <ul class="memulinks-lists">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About us</a></li>
          <li><a href="service.html">Our Services</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="contact.html">Contact us</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-thrid-section">
      <p>Contact</p>
      <p>27-37-47, SHOP NO 4, GROUND FLOOR,<br>
         PANUKU COMPLEX, M.G ROAD, VIJAYAWADA,<br>
         ANDHRA PRADESH, INDIA - 520002</p>
      <p>+91 9866623853</p>
      <p>+91 9705674222</p>
    </div>
  </footer>
  <hr>
  <div class="footer-copyright">
    <p>Copyright &copy; 2025 All rights reserved. Designed by Saanvika Software Solutions</p>
  </div>
</div>
