
<nav class="navbar">
  <div class="navbar-cont">
    <div class="logo">
      <p>BL TUFF</p>
    </div>

    <!--hamburger-->
    <div class="hamburger-style" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!--navbar action list-->
    <div class="navbar-list" id="navbar-list">
      <ul class="navbar-actions">
        <li><a href="index.html" class="list active">Home</a></li>
        <li><a href="about.html" class="list">About us</a></li>
        <li><a href="service.html" class="list">Services</a></li>
        <li><a href="projects.html" class="list">Projects</a></li>
      </ul>
      <a href="contact.html"><button class="navbar-contact-btn">Contact us</button></a>
    </div>
  </div>
</nav>
